body{
  main{
    #productoPrincipal{
      #imgs{
        .imgProducto{
          &#imgProducto1{
            background-image: url(../../imgs/productos/31.jpeg)
          }
          &#imgProducto2{
            background-image: url(../../imgs/productos/32.jpeg)
          }
          &#imgProducto3{
            background-image: url(../../imgs/productos/33.jpeg)
          }
          &#imgProducto4{
            background-image: url(../../imgs/productos/34.jpeg)
          }
          &#imgProducto5{
            background-image: url(../../imgs/productos/01.jpeg)
          }
          &#imgProducto6{
            background-image: url(../../imgs/productos/02.jpeg)
          }
        }
      }
    }
  }
}