body{
  main{
    #productoPrincipal{
      #imgs{
        .imgProducto{
          &#imgProducto1{
            background-image: url(../../imgs/productos/21.jpeg)
          }
          &#imgProducto2{
            background-image: url(../../imgs/productos/22.jpeg)
          }
          &#imgProducto3{
            background-image: url(../../imgs/productos/23.jpeg)
          }
          &#imgProducto4{
            background-image: url(../../imgs/productos/24.jpeg)
          }
          &#imgProducto5{
            background-image: url(../../imgs/productos/01.jpeg)
          }
          &#imgProducto6{
            background-image: url(../../imgs/productos/02.jpeg)
          }
        }
      }
    }
  }
}